<h1>Thêm mới sản phẩm</h1>
<form action="" method="post">
    <p><%= smg  %></p>
    Tên sản phẩm: <input type="text" name="NameProduct" id="NameProduct"> <br>
    Giá tiền: <input type="text" name="Price" id="Price"> <br>
    Giá tiền: <input type="text" name="Size" id="Size"> <br>
    Giá tiền: <input type="text" name="Date" id="Date"> <br>
    Giá tiền: <input type="text" name="IDCategory" id="IDCategory"> <br>
    Giá tiền: <input type="text" name="Image" id="Image"> <br>
    Giá tiền: <input type="text" name="Amount" id="Amount"> <br>
    <button type="submit">Thêm mới</button>
</form> 