<h1>Thêm mới sản phẩm</h1>
<form action="" method="post">
    <p><%= smg  %></p>
    Nhập vào loại : <input type="text" name="NameCategory" id="NameCategory"> <br>
    <button type="submit">Thêm mới</button>
</form> 